a[href],
a[onclick] {
    text-decoration: none;
    color: darkblue;

    &:hover {
        background: unset;
        color: midnightblue;
    }

    &:active {
        color: blueviolet;
    }

    &:visited {
        color: darkmagenta;
    }
}